.main-active{
    display: none;
}

.main-completed{
    display: none;
}

.all-btn{
    border: 2px solid #444 !important;
}

.main-all[data-mode="all"]{
    display: block;
}

.main-active[data-mode="all"]{
    display: none;
}

.main-completed[data-mode="all"]{
    display: none;
}

.all-btn[data-mode="all"]{
    border: 2px solid #444 !important;
}

.active-btn[data-mode="all"]{
    border: none !important
}

.complete-btn[data-mode="all"]{
    border: none !important
}



.main-all[data-mode="active"]{
    display: none;
}

.main-active[data-mode="active"]{
    display: block;
}

.main-completed[data-mode="active"]{
    display: none;
}

.all-btn[data-mode="active"]{
    border: none !important;
}

.active-btn[data-mode="active"]{
    border: 2px solid #444 !important;
}

.complete-btn[data-mode="active"]{
    border: none !important
}




.main-all[data-mode="completed"]{
    display: none;
}

.main-active[data-mode="completed"]{
    display: none;
}

.main-completed[data-mode="completed"]{
    display: block;
}

.all-btn[data-mode="completed"]{
    border: none !important;
}

.active-btn[data-mode="completed"]{
    border: none !important;
}

.complete-btn[data-mode="completed"]{
    border: 2px solid #444 !important;
}